<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/error.css">
</head>
<body>
    <div class="err">
        <h1>Ops something went wrong</h1>
        <h3><%= error.message %></h3>
        <div class="btn">
            <a href="/">go home</a>
        </div>
    </div>
</body>
</html>