<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if(err){ %>
      <div><%= err %></div>
      <% }else{%>
        <div><%= succ %></div>
      <% } %>
    <form action="/reset" method="post">
      <div class="inp">
        <label for="email">password</label>
        <input type="email" placeholder="email" name="email" />
      </div>
      <div class="btn">
        <button type="submit">reset</button>
      </div>

      <div class="inf">
        <span>already have account</span>
        <a href="/login">login</a>
      </div>
    </form>
  </body>
</html>
